# Dictionary

Dictionary is a collection of key-value pairs such as {key : value} and have the following properties:
    
1. Dictionary is enclosed in {}.
2. The elements of a dictionary are not accessed using an index but with the help of the key such as dictname["key"].
3. Elements of dictionary are not ordered
4. Dictionary has variable length
5. Dictionary can be used to save anything such as other lists, dictionaries,....
6. Dictionary can be nested
7. Dictionary can be changed and Dictionaries use a hash table for management

### Creating a Dictionary

In [1]:
Dict1 = {}
print("Dict1 is of type {}".format(type(Dict1)))
Dict2 = dict()
print("This is the second method to create {}".format(type(Dict2)))
Dict2 = {'name':'Drew', 'age': 32}
print(Dict2)

Dict1 is of type <class 'dict'>
This is the second method to create <class 'dict'>
{'name': 'Drew', 'age': 32}

In [2]:
D2 = {'prof': Dict2}
print(D2)

{'prof': {'name': 'Drew', 'age': 32}}

In [3]:
D_a = ['name', 'age']
D_b = ['Drew', 32]

D = dict(zip(D_a, D_b))

print(D)

{'name': 'Drew', 'age': 32}

In [4]:
D_a = ['name', 'age']
D_b = ['Drew', 32]
t1 = zip(D_a, D_b)
print(t1)
for x in t1:
    print(type(x))
    print(x)

<zip object at 0x000001B78FAA3708>
<class 'tuple'>
('name', 'Drew')
<class 'tuple'>
('age', 32)

zip creates a list of pairs (or n-tuples if more than two lists provided).  Very useful in a wide variety of applications, especially walking through two lists simultaneously

### Accessing elements in a dictionary

In [5]:
Dict = {'name':'Drew', 'age': 32}

print(Dict)

print(D['age'])
print(D['name'])

{'name': 'Drew', 'age': 32}
32
Drew

In [6]:
Dict2 = {'prof': Dict}

print(Dict2)

print(Dict2['prof']['age'])

{'prof': {'name': 'Drew', 'age': 32}}
32

### Adding and changing elements of a dictionary

In [7]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}
print(D)

D['height'] = 69

print(D)

D['job'] = 'teacher'

print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32, 'job': 'prof', 'height': 69}
{'name': 'Drew', 'age': 32, 'job': 'teacher', 'height': 69}

### Deleting elements from a dictionary

In [8]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}
print(D)

del D['job']

print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32}

### Build in methods

##### Keys

Returns all the keys in the dict as a list

In [9]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.keys())

{'name': 'Drew', 'age': 32, 'job': 'prof'}
dict_keys(['name', 'age', 'job'])

##### Values

Returns all the values in the dict as a list

In [10]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.values())

{'name': 'Drew', 'age': 32, 'job': 'prof'}
dict_values(['Drew', 32, 'prof'])

##### Items

Returns of list of key/value pairs

In [11]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.items())

{'name': 'Drew', 'age': 32, 'job': 'prof'}
dict_items([('name', 'Drew'), ('age', 32), ('job', 'prof')])

##### Copy

Makes a new copy of the dictionary.  With copy, they don't point to the same dictionary anymore, a new copy is created.

In [12]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

E = D

print(E)

E['sport'] = 'hockey'

print(E)
print(D)
print(E==D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32, 'job': 'prof', 'sport': 'hockey'}
{'name': 'Drew', 'age': 32, 'job': 'prof', 'sport': 'hockey'}
True

In [13]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

E = D.copy()

print(E)

E['sport'] = 'hockey'

print(E)
print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32, 'job': 'prof'}
{'name': 'Drew', 'age': 32, 'job': 'prof', 'sport': 'hockey'}
{'name': 'Drew', 'age': 32, 'job': 'prof'}

##### Clear

Clears the dict

In [14]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

D.clear()

print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
{}

##### Get

Same as just using dict['key']

In [15]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.get('name'))

print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
Drew
{'name': 'Drew', 'age': 32, 'job': 'prof'}

##### Pop

Returns a value, based on the provided key, from the dictionary.  This value/key pair is then removed from the dictioanry

In [16]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.pop('job'))

print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
prof
{'name': 'Drew', 'age': 32}

In [17]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.setdefault('color', -1))
print(D)

{'name': 'Drew', 'age': 32, 'job': 'prof'}
-1
{'name': 'Drew', 'age': 32, 'job': 'prof', 'color': -1}

In [19]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(D.setdefault('job', 5))

{'name': 'Drew', 'age': 32, 'job': 'prof'}
prof

##### Length

Returns the number of Key/Value pairs

In [20]:
D = {'name': 'Drew', 'age': 32, 'job': 'prof'}

print(D)

print(len(D))

{'name': 'Drew', 'age': 32, 'job': 'prof'}
3

# Tuples
Tuples are:
1. Ordered collections of arbitrary objects just as a list but is immutable except for adding new elements
2. You cannot delete an element from a tuple but you can delete tuple itself.

### Creating a Tuple

In [21]:
T = ()
print(T)

T = tuple()
print(T)

T = (0,)  #the comma is needed, or else it treats it as a mathematica ()
print(T)

T = (1,2)
print(T)

()
()
(0,)
(1, 2)

In [22]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})
print(T)

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})

you don't need to include the () if you have a comma

In [23]:
T = 1,2,3
print(T)

(1, 2, 3)

In [24]:
T = tuple('string')
print(T)

('s', 't', 'r', 'i', 'n', 'g')

In [25]:
l = list("some")
print(l)

['s', 'o', 'm', 'e']

### Using Tuples

##### Accessing Data

In [26]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print(T[3])

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
['hello', 6]

##### Slicing

In [27]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print(T[:3])
print(T[3:])
print(T[::-1])

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
(1, 2, 3)
(['hello', 6], 'string', {'name': 'steve'})
({'name': 'steve'}, 'string', ['hello', 6], 3, 2, 1)

### Built in Methods

##### Index

In [28]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)
print(T.index('string'))

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
4

##### Length

In [29]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print(len(T))

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
6

##### Concatenate

In [30]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)
T +=T
print(T)
print(T + T)

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})

##### Repeat

In [31]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print(T * 3)

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'}, 1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})

##### Membership

In [32]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print('string' in T)

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
True

##### Count

In [33]:
T = (1,2,3,['hello',6],'string', {'name':'steve'})

print(T)

print(T.count(3))

T3 = T*3

print(T3.count(3))

(1, 2, 3, ['hello', 6], 'string', {'name': 'steve'})
1
3

Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [34]:
T = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)
for values in T:
    print(values)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16